/*main*/

h2 {
    font-size: 3rem;
    margin-left: 2rem;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 400;
    width: calc(100% - 20px); 
}

h3 {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 400;
}

.google {
    font-size: 2.5rem;
    margin-left: 1rem;
    color: rgb(252, 252, 206);
    text-decoration: underline; 
}
  
  .google:hover {
    color: #ffffff; /* White color on hover */
    text-decoration: none; /* Remove underline on hover */
    background-color: #333333; /* Dark gray background on hover */
    padding: 0.1em 0.3em; /* Add padding for better hover effect */
    border-radius: 0.2em; /* Add rounded corners */
}

.music {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .music-content {
    display: flex;
    flex-direction: column;
  }
  
  .music-image {
    width: 50%;
    margin-right: 2rem; 
  }
  
  .music-details {
    box-sizing: border-box;
  }

figcaption {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: 'OpenSans';
    font-weight: 400;
}

figure {
  width: calc(100% - 20px); /* Set the width to fill the viewport width minus padding */
  max-width: 400px; /* Set a maximum width to prevent it from getting too wide */
  padding: 10px; /* Optional: Add padding for better spacing */
}

audio {
    margin-top: 5px; /* Adjust the spacing between the audio controls */
  }

  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    padding: 0.3rem;
    margin-right: 10rem;
    float: right;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .arrows {
    display: flex;
    flex-direction: column;
} 


@media only screen and (min-width: 871px) {
 
  .container {
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}

    .music-content {
      display: flex;
      flex-direction: row;
    }

    .music-image {
      width: 100%;
      margin-right: 2rem; /* Adjust the spacing between the image and the figures */
    }    
}