
/*Main*/

main {
    height: 100%; /* Ensure that the body and html elements fill the entire viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to center the content */
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.img1 {
    max-width: 50rem;
    padding-right: 6rem;
    margin-bottom: 3rem;
}

.poems {
    display: flex;
    justify-content: center;
    align-items: start;
    color: #ffffff;
}

.poem {
    display: inline-block;
    width: 50%;
    margin-left: 3rem;
    margin-right: 3rem;
}

h1 {
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #ffffff;
}

p {
    font-size: 2rem;
    font-family: 'OpenSans';
    font-weight: 400;
    color: #ffffff;
}

.inlinelink {
    color: rgb(252, 252, 206);
    text-decoration: underline; 
  }
  
  .inlinelink:hover {
    color: #ffffff; /* White color on hover */
    text-decoration: none; /* Remove underline on hover */
    background-color: #333333; /* Dark gray background on hover */
    padding: 0.1em 0.3em; /* Add padding for better hover effect */
    border-radius: 0.2em; /* Add rounded corners */
  }

hr {
    color: #ffffff;
    width: 60rem;
    
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    padding: 0.3rem;
    float: right;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
